.welcome-section {
  display: flex;
  flex-direction: column; /* <-- AÑADE ESTO: Apila el avatar y el enlace */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CSS para el nuevo enlace (sin el margen grande) */
.edit-photo-link {
  color: #000000;
  font-size: 1.1rem;
  margin-top: 10px; /* <-- Un margen pequeño y fijo, en lugar de 10% */
  text-decoration: none; /* Opcional: para quitar el subrayado */
}

.large-avatar {
  width: 150px; 
  height: 150px;
  border: 3px solid var(--ion-color-warning); /* O el color que desees */
}



.form-list {
  --ion-item-background: transparent;
  padding: 16px;
}


.edit_password {
  color: #000000; 
  font-size: 1.1rem;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item{
  --border-width: 0 !important;
  --border-style: none !important;
  --box-shadow: none !important;
}


.campo{
  background-color: #eaeaea8a;
  font-size: 1.3rem;
  padding: 0.5rem !important;
}

.form-list {
  margin: 10px auto;
  width: 90%;
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    margin: 0;
    font-size: 15px;
    
    ion-label {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .icon-button {
    --padding-start: 0;
    --padding-end: 0;
    display: none;
    align-items: center;
  }

}
