<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="welcome-section">
    <ion-avatar class="large-avatar" (click)="changeAvatar()">
      <img [src]="userData.avatar || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Avatar">
    </ion-avatar>
  </div>

  <ion-list class="form-list">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input class="campo" type="text" [(ngModel)]="userData.firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input class="campo" type="text" [(ngModel)]="userData.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de nacimiento</ion-label>
      <ion-input class="campo" type="date" [(ngModel)]="userData.birthday"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input class="campo" type="email" [(ngModel)]="userData.email"></ion-input>
    </ion-item>

    <a class="edit_password" routerLink="/edit-password">Cambiar contraseña</a>

    <br>
    <ion-button expand="block" color="warning" (click)="saveChanges()">
      Guardar Cambios
    </ion-button>

  </ion-list>

</ion-content>