ion-note.custom-note {
  display: block;            
  margin: 16px;                
  padding: 8px 12px;           
  border-radius: 8px;          
  background-color: #f4f4f4;   
  color: #333;                 
  font-size: 14px;             
}

ion-button.boton{
width: 80%;
justify-content: center; 
align-items: center;
margin-bottom: 20px;
display: block;        
margin: 20px auto;     
max-width: 300px; 
font-weight: bold;
}