<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
           <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Solicitud</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content color="light">
 <ion-list [inset]="true">
 
  <ion-item>
  <ion-input 
    #origenInput 
    label="Dirección de Origen" 
    labelPlacement="floating"
    placeholder="Ingresá la dirección completa"
    [(ngModel)]="formData.origin_address" 
    name="origin_address">
  </ion-input>
</ion-item>

 <ion-item>
  <ion-input 
    #destinoInput
    label="Dirección de Destino" 
    labelPlacement="floating"
    placeholder="Ingresá la dirección completa"
    [(ngModel)]="formData.destination_address" 
    name="destination_address">
  </ion-input>
</ion-item>


    <ion-item>
  <ion-label>Agregar parada</ion-label>
  <ion-toggle slot="end" (ionChange)="toggleParada($event)" [(ngModel)]="mostrarParada"></ion-toggle>
</ion-item>
</ion-list>

<ion-list *ngIf="mostrarParada" [inset]="true">
  <ion-item>
    <ion-input 
      #paradaInput
      label="Dirección de Parada" 
      labelPlacement="floating"
      placeholder="Ingresá la dirección completa"
      [(ngModel)]="formData.stop_address" 
      name="stop_address">
    </ion-input>
  </ion-item>
</ion-list>

 <ion-list [inset]="true">
  <ion-item>
    <ion-textarea label="Descripción *" [(ngModel)]="formData.description" labelPlacement="floating" rows="5"></ion-textarea>
  </ion-item>
</ion-list>

<ion-note color="medium" class="custom-note">
  Por favor da los detalles que creas necesario para que entienda EL KDT
</ion-note>

<ion-list [inset]="true">
  <ion-item>
    <ion-toggle [(ngModel)]="mostrarCantidadDinero">
      <ion-label>¿El cadete necesita dinero?</ion-label>
    </ion-toggle>
  </ion-item>
</ion-list>

<ion-list *ngIf="mostrarCantidadDinero" [inset]="true">
  <ion-item>
    <ion-input label="Ingrese cantidad aproximada de dinero" type="number" [(ngModel)]="formData.amount"></ion-input>
  </ion-item>
</ion-list>

<ion-list [inset]="true">
  <ion-item>
    <ion-select placeholder="Seleccionar método de pago" [(ngModel)]="formData.payment_method">
      <div slot="label" >Método de pago <span class="requerido">*</span></div>
      <ion-select-option value="efectivo">Efectivo</ion-select-option>
      <ion-select-option value="mercadoPago">Mercado Pago</ion-select-option>
      <ion-select-option value="transferencia">Transferencia</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-button class="boton" color="warning" expand="block" (click)="onSubmit()"   > Solicitar </ion-button>

</ion-content>
