
ion-button.boton {
	width: 80%;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	display: block;
	margin: 20px auto;
	max-width: 300px;
	font-weight: bold;
}

.address-list ion-item {
	margin-bottom: 1rem !important
}

.description{
	font-size: 1.4rem !important;
}

.ask_cadete_compra{
	text-align: center;
	margin-right: 3rem;
}

.custom-note {
	margin: 0.3rem;
	color: #5a5a5a;
	font-size: 0.9rem;
	font-style: italic;
}

ion-textarea {
	background-color: #f5f1efcf;
	margin:0;
	padding: 0.5rem;
}
.amount{
	width: 100%;
	text-align: center;
}

.note_amount{
	color: #333;
}
.amount ion-label{
	font-size: 1.5rem !important;
}
.amount ion-input{
	font-size: 1.6rem !important;
	font-weight: bold;
}

ion-select ion-label{
	margin:0 !important;
}
.new_title{
	font-size: 1.5rem !important;
}