ion-content {
  --background: var(--ion-background-color);
   box-shadow: var(--ion-card-box-shadow);
}


.boton{
width: 80%;
justify-content: center; 
align-items: center;
margin-bottom: 20px;
display: block;        
margin: 20px auto;     
max-width: 300px; 
font-weight: bold;
}

ion-item ion-label h2 {
  font-weight: 500; 
}

ion-item ion-label p {
  font-size: 0.8em; 
  color: var(--ion-color-medium);
  padding-top: 4px;
}