<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="content-container">

    <!-- Formulario -->
    <ion-list class="form-list">
      <ion-item>
        <ion-label position="stacked">Contraseña actual</ion-label>
        <ion-input class="campo" type="password" [(ngModel)]="currentPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nueva contraseña</ion-label>
        <ion-input class="campo" type="password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirmar nueva contraseña</ion-label>
        <ion-input class="campo" type="password" [(ngModel)]="confirmNewPassword"></ion-input>
      </ion-item>

    </ion-list>

    <!-- Botón Guardar Cambios -->
    <ion-button expand="block" (click)="changePassword()" class="boton">
      Guardar Cambios
    </ion-button>

  </div>