ion-card {
  padding: 1rem;
  margin: 0;
  border-radius: 0.5rem;
}

ion-card-header {
  padding: 0;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ion-card-title {
  font-size: 1.5rem;
  margin-top: 0.6rem;
  font-weight: 550;
  max-width: 60%;
}

ion-card-subtitle {
  color: grey;
  font-size: 1.1rem;
  font-weight: 550;
  margin: 0;
  max-width: 40%;
}

.request-description {
  font-size: 1.1rem;
  color: rgb(36, 35, 35);
}

.ver-detalles a {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: rgb(8, 50, 1);
}

ion-card-content {
  padding: 0;
}

.request_title {
  font-size: 1.3rem;
  color: black;
  font-weight: 600;
}

.detalle {
  margin: 0;
  padding: 0;
}

.detalle ion-list {
  margin: 0 !important;
  padding: 0;
  gap: 0;
}

.detalle ion-item {
  padding: 0 !important;
  height: fit-content;
}

.detalle ion-label {
  margin: 0;
  font-size: 1.4rem !important;
}

.detalle p {
  font-size: 1rem;
  //border:1px solid black;
  width: 100%;
  margin-top: 0.2rem;
}


//////////// acá 
.show_offers_list {
  h2 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }

  ion-list-header {
    margin: 0 !important;
    padding: 0 !important;
  }
}

ion-textarea {
  margin-top: 0.5rem;
  border: 1px solid grey;
  font-size: 1.3rem !important;
  width: 100%;
  padding: 0 !important;
  padding-inline: 0.5rem !important;
}

.botones-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.botones_solicitud {
  font-size: 1.2rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.ver-ofertas-btn {
  width: 100%; // Ocupa todo el ancho
  height: 48px;
  --border-radius: 12px;
  --border-width: 2px;
  font-weight: 600;
  --color: var(--ion-color-secondary); // Color del borde y texto
}

.request-card {
  margin-bottom: 16px; // Añade espacio entre las tarjetas
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); // Sombra suave
}

.boton-aceptar {
  margin-top: 10px; // Añade espacio sobre el botón
  --padding-start: 16px; // Ajusta el padding del botón
  --padding-end: 16px;
}

// Contenedor para cada oferta
.offer-item {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  display: flex;
  flex-direction: column !important;

  text-align: center;

  // Añade un borde inferior para separar múltiples ofertas
  border-bottom: 1px solid black;

  // Quita el borde de la última oferta de la lista
  &:last-child {
    border-bottom: none;
  }

  p {
    margin: 0;
  }

  ion-button {
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    font-size: 1.2rem;
    width: 40%;
    margin-left: 27%;
    margin-top:1rem;
    margin-bottom:1rem;
  }
}

.offer-details {
  width: 100%;
  align-items: center;
  text-align: center;

  .offer-table {
    width: 100%;
    margin-top:0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }

  td:first-child {
    font-weight: bold;
    width: 30%;
  }
}

.offer-value {
  font-size: 1rem;
}

// Añade espacio sobre la etiqueta de "Precio"
.price-label {
  margin-top: 12px;
}



.subtle-divider {
  margin-top: 1rem;
}