.botones-container {
  display: flex;
  justify-content: flex-end; 
  gap: 8px; 
  padding-top: 10px;
}
ion-button.botonAction {
  width: 45%;               
  --height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  max-width: 200px;
  font-size: 15px; 

}

.detalle-container {
  margin-top: 10px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
}


.ver-mas {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  margin-left: auto; /* lo manda a la derecha */
}
