ion-toolbar {
  --background: transparent;
}

ion-header {
  position: absolute;
}

.box1{
  margin-right: 1.5rem;
}
.box2{
  position:absolute;
  top:18rem;
  right:0;
}
ion-content {
  --padding-top: 0;
}

// Título principal grande y en negrita
h1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Párrafo de introducción
.intro-text {
  font-size: 1rem;
  color: var(--ion-color-medium-shade);
}

// Contenedor de la sección "Valoriza tu trabajo"
.feature_section {
  display: flex;
  align-items: center;
  gap: 1rem; // Espacio entre el texto y el ícono
}

// Parte del texto
.feature-text {
  flex: 1; // Ocupa el espacio disponible

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  p {
    color: var(--ion-color-medium-shade);
  }
}

// Parte del ícono
.feature-icon {
  ion-icon {
    font-size: 4rem; // Tamaño del ícono grande
    color: var(--ion-color-warning);
  }
}

ion-button.boton {
  width: 85%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: block;
  margin: 1% auto;
  max-width: 300px;
  font-weight: bold;
}