// Quita el padding izquierdo del ion-item de detalles
.detail-item {
  --inner-padding-start: 0;
  --padding-start: 0;

  p {
    font-size: 1.2em;
    margin: 4px 0; // Un poco de espacio entre párrafos
  }
}

// Quita el padding y añade espacio al item del precio
.earnings-item {
  --inner-padding-start: 0;
  --padding-start: 0;
  margin-top: 8px; // Espacio entre los detalles y el precio
   p {
    font-size: 0.9em;
    margin: 4px 0; // Un poco de espacio entre párrafos
  }
  // Estilo para el monto
  .earnings-amount {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--ion-color-dark); // O el color que prefieras
  }
}

img {
    max-width: 100%; 
    opacity: 0.5;
    bottom: 0;  
    align-items: flex-end;   
}



  .image{
    opacity: 0.5;
    --bottom: 0;
    position: fixed;
    width: 100%;
    left: 50%;         
    transform: translateX(-50%);
    z-index: 1000;    
}

.request-card {
  margin-bottom: 16px;
  transition: background-color 0.3s ease-in-out;
}


.completed-bg {
  --background: #e4e4e4; 
  ion-item {
    --background: transparent; 
  }
}

