// Quita el padding izquierdo del ion-item de detalles
.detail-item {
  --inner-padding-start: 0;
  --padding-start: 0;

  p {
    margin: 4px 0; 
    font-size: 0.9em;
  }
}

// Quita el padding y añade un espacio superior al nuevo item de ganancias
.earnings-item {
  --inner-padding-start: 0;
  --padding-start: 0;
  margin-top: 8px; // Espacio entre los detalles y la ganancia
  
  // Estilo para el monto de la ganancia
  .earnings-amount {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--ion-color-success); // Color verde
  }
}