.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
}

.image-container {
  margin-bottom: 30px;
  
  img {
    max-width: 70%;
    height: auto;
    display: flex; 
    margin: 0 auto; 
  }
}

.form-list {
  margin: 10px auto;
  width: 90%;
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 30px;
    
    ion-label {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.buttons-container {
  width: 60%;
  
  ion-button {
    margin-bottom: 20px;
  }
}

ion-button {
  --color: #ffffff; 
  --font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#check {
  --size: 20px;
  --checkbox-background-checked: #f1a80a;
  --border-radius: 0;
  margin-bottom: 20px;
  
  font-family: 'Poppins', sans-serif;
}



