<ion-content [fullscreen]="true">

  <div class="content-container">

    <!-- Logo -->
    <div class="image-container">
      <img src="assets/logo.png" routerLink="/index" />
    </div>

    <!-- Formulario -->
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input class="campo" type="email" [(ngModel)]="credentials.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input class="campo" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="credentials.password"></ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePassword()" class="icon-button">
          <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>


    <!-- Botón Ingresar -->
    <ion-button expand="block" (click)="onLogin()" class="boton">
      Ingresar
    </ion-button>



  </div>

</ion-content>
