<ion-menu content-id="menu_content" menuId="menu_content" side="start">
  <ion-content>
    
  <div class="menu-header">
  <div class="menu-user-avatar-only">
        <a class="avatar-link" href="/profile-edit">
          <ion-avatar class="user-avatar-large">
            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar">
          </ion-avatar>
        </a>
  </div>
</div>

    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/home" lines="none">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>

        <ion-item routerLink="/notifications">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-item>

        <ion-item routerLink="/requests" requests lines="none">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>Solicitudes</ion-label>
        </ion-item>

        <ion-item routerLink="/orders" lines="none">
          <ion-icon name="cube-outline" slot="start"></ion-icon>
          <ion-label>Pedidos</ion-label>
        </ion-item>

        <ion-item routerLink="/address">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>Mis direcciones</ion-label>
        </ion-item>

        <ion-item routerLink="/index">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label >Cerrar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

  
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" color="warning">
        <ion-icon name="rocket-outline" slot="start"></ion-icon>
        ¡Ser cadete!
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>