ion-menu {
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

ion-header {
    text-align: center;
    height: 8%;
}

ion-content {
    overflow: auto;
}

ion-toolbar {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

ion-item {
    padding: 0.5rem;
}

ion-icon {
    font-size: 2rem;
}

ion-list {
    max-height: 79%;
    overflow: auto;
    border-radius: 0;
}
.espacio{
    height: 12%;
}

ion-footer {
    display: flex;
    align-self: flex-end;
}
ion-label{
    margin:0;
}