div, ng-container {
  font-family: 'Helvetica Neue', sans-serif;
}
.menu_but{
  position: absolute;
  top:0;
}
ion-header ion-toolbar {
  --background: transparent;
  height: 3rem;
}

ion-header.header-container {
  background: #f4edeb;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.256);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  z-index: 10;
}


// Sección del perfil (avatar + nombre)
.profile-header {
  display: flex;
  align-items: center;
  padding:0;
  padding-left: 1.5rem;
  gap: 2rem; // Espacio entre avatar y nombre
}

// Avatar
.avatar {
  width: 6rem; // Tamaño ajustado al diseño
  height: 6rem;
  border-radius: 50%;
  border: 4px solid var(--ion-color-warning); // Borde naranja
  overflow: hidden;
  background-color: #949393; // Color de fondo por si la imagen falla

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// Botón de estado (Activo/Inactivo)
.status-toggle {
  display: inline-flex;
  align-items: center;
  gap:2rem;
  color: white;
  font-size: 1.2rem !important;
  padding: 0.5rem 1rem; // Un poco más compacto
  border-radius: 1rem; // Bordes más redondeados
  font-weight: 550; // Peso normal
  margin-top: 10px; // Espacio desde el nombre
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: var(--ion-color-success); // Fondo VERDE (Activo)

  .status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f4edeb;
  }

  ion-icon {
    font-size: 1.1em;
  }
}

.status-message {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: gray;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
// Información del perfil (nombre)
.profile-info h1 {
  color: black;
  text-align: left;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.location-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  margin-right:1rem;
  font-size: 1rem;
  font-weight: 550;
  color: #05b74c; // Verde
}



.status-toggle.inactive-status {
  background: var(--ion-color-danger);
}


ion-footer {
  background: #f4edeb;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.08);

  ion-toolbar {
    --background: transparent;
  }

  ion-button {
    --border-radius: 1rem;
    font-weight: bolder;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  ion-spinner {
    width: 5rem;
    height: 5rem;
  }

}

// Opcional: Estilos para la vista de pedido en curso
.pedido-en-curso {
  ion-list {
    background: transparent;
  }
}

.pulse-button {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}