<app-menu></app-menu>

<div *ngIf="isLoadingOrder" class="loading-container">
  <ion-spinner name="crescent"></ion-spinner>
  <p>Buscando pedidos activos...</p>
</div>


<ng-container *ngIf="!isLoadingOrder">

  <ion-header class="ion-no-border header-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <div class="header-content ion-padding-start ion-padding-end">
      <div class="profile-header">
        <div class="avatar">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar">
        </div>
        <div class="profile-info">
          <h1>Hola {{ userName }}!</h1> 
        </div>
      </div>

      <div class="status-toggle" 
         (click)="toggleStatus()" 
         [ngClass]="{
            'inactive-status': !isKdtActive, 
            'toggling-status': isToggling 
         }">
        <div class="status-indicator"></div>
        <span>{{ isKdtActive ? 'Activo' : 'Inactivo' }}</span>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>

      <p class="status-message">¡Hay solicitudes esperando su oferta! <BR>EN PROCESOOO</p>

      <div class="location-info">
        <span>Gualeguaychú, 5 km</span>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
    </div>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <google-map height="100%" width="100%" [center]="mapCenter" [zoom]="mapZoom" [options]="mapOptions">
    </google-map>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-locate">
       <ion-fab-button>
         <ion-icon name="locate-outline"></ion-icon>
       </ion-fab-button>
    </ion-fab>
  </ion-content>

  <ion-footer class="ion-no-border ion-padding">
    <ion-toolbar>

      <ion-button 
        *ngIf="!currentOrder" 
        expand="block" 
        color="warning" 
        routerLink="/see-list">
        Ver en lista
      </ion-button>

      <ion-button 
        *ngIf="currentOrder" 
        (click)="goToActiveOrder()"
        expand="block" 
        color="warning" 
        class="pulse-button">
        <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
        ¡VER PEDIDO ACTIVO!
      </ion-button>

    </ion-toolbar>
  </ion-footer>

</ng-container>