ion-content {
  --background: var(--ion-background-color);
}

ion-label {
  font-weight: 450;
}

.intro-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;


}

.logo {
  width: 6rem;
  height: auto;
}

p {
  font-size: 0.8em;
  text-align: justify;
  margin-right: 1.5rem;
  color: var(--ion-color-medium-shade);
}


.upload-box {
  border: 1.5px solid var(--ion-color-medium-tint);
  border-radius: 1.4rem;
  padding: 1rem;
  margin: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #D5D5D554;

  ion-icon {
    font-size: 2.5rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 500;
    color: var(--ion-color-medium-shade);
  }
}

.terms-text {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 0.8em;
  color: var(--ion-color-medium-shade);

  a {
    color: var(--ion-color-warning);
    font-weight: 600;
    text-decoration: none;
  }
}


ion-button.boton {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5rem;
}

.error-message {
  /* 1. Ponerlos en rojo */
  color: var(--ion-color-danger);
  /* Usa el color rojo estándar de Ionic */

  /* 2. Ponerlos más chicos */
  font-size: 1rem;
  padding:0;
  /* Un 10% más chico que el texto normal */

  /* 3. Centrar los textos */
  text-align: center;

  /* Ajustes para que el centrado funcione bien */
  width: 100%;
  display: block;
  /* Asegura que ocupe toda la línea */

  /* Opcional: añade espacio para que no quede pegado a la caja */
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}