

<ion-content [fullscreen]="true">

   <div class="content-container">
      <div class="logo-and-text-container">
        <div class="image-container">
          <img src="assets/logo.png" />
        </div>
        <p class="logo-text">Solicitud enviada</p>
      </div>
  

      <div class="image-container1">
        <img src="assets/solicitudEnviada.png" />
      </div>

      
        <p class="text">Un cadete te cotizara enseguida</p>

    <div class="buttons-container">
      <ion-button expand="block" routerLink="/requests" color="warning">
        Ver solicitudes
      </ion-button>
    </div>

    </div>

</ion-content>





