.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 5%; 
}

.image-container {
  margin-bottom: 20px; 
  width: 100%; 

  img {
    max-width: 100%; 
    height: auto; 
    object-fit: contain;
    background-color: orange;
  }
}

.buttons-container {
  width: 80%;
  
  ion-button {
    margin-bottom: 20px; 
  }
}

ion-button {
  --color: #ffffff; 
  --font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 22px; 
}
