.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 5%; 
}

.image-container {
  margin-bottom: 20px; 
  /* Puedes incluso quitar max-width aquí y dejar que la imagen lo maneje */
  width: 100%; /* Aseguramos que el contenedor de la imagen ocupe todo el ancho disponible */

  img {
    max-width: 100%; /* Permitimos que la imagen use el 100% del ancho de su contenedor */
    height: auto; /* Mantenemos la proporción original de la imagen */
    object-fit: contain; /* Asegura que la imagen se escala para encajar sin recortarse */
  }
}

.buttons-container {
  width: 80%;
  
  ion-button {
    margin-bottom: 20px; /* Aumenta el espacio entre los botones */
  }
}

ion-button {
  --color: #ffffff; 
  --font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 22px; 
}
