.total-earnings-card {
  background: rgba(255, 166, 0, 0.816);
  color: black;
  border-radius: 12px;
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
  }
  
  p {
    font-size: 1.1rem;
    opacity: 0.8;
    color: white;
    font-weight: bold;
  }
}
h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1rem;
}
.earning-amount {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--ion-color-success);
}

