<app-user-menu></app-user-menu>

<!-- Contenido principal -->
<ion-content id="menu_content" fullscreen>
	<div class="header-section">
		<ion-menu-button class="menu_but">
			<svg width="64px" height="64px" viewBox="0 0 1024 1024" class="icon" version="1.1"
				xmlns="http://www.w3.org/2000/svg" fill="#fa9a00" stroke="#fa9a00">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
					<path
						d="M128 469.3333h768v85.333334H128zM128 213.333333h768v85.333334H128zM128 725.333333h768v85.333334H128z"
						fill="#fa9a00"></path>
				</g>
			</svg>
		</ion-menu-button>
		<div class="welcome-section">
			<ion-menu-button>
				<ion-avatar>
				<img [src]="userData?.avatar || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Avatar">
				</ion-avatar>
			</ion-menu-button>

			<h1>Hola {{ userName }}</h1>
		</div>
		<p class="message">¡Hay un cadete listo para completar tu solicitud!</p>

	</div>

	<ion-grid>
		<ion-row routerLink="/new-requests">
			<ion-col size="12">
				<ion-card button>
					<img src="../../assets/nueva_solicitud.png" alt="Solicitud" />
				</ion-card>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="6" routerLink="/requests">
				<ion-card button>
					<img src="../../assets/solicitudes.png" alt="Solicitudes" />
				</ion-card>
			</ion-col>
			<ion-col size="6" routerLink="/orders">
				<ion-card button>
					<img src="../../assets/pedidos.png" alt="Pedidos" />
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>