.container {
    text-align: center;  
    width: 100%; 
    align-items: flex-end;      
    position: relative; 
    height: 500px;     
}

img {
    max-width: 100%; 
    opacity: 0.5;
    bottom: 0;  
    align-items: flex-end;   
  
}