<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">

  <div class="content-container">

    <div class="image-container">
      <img src="assets/logo.png" routerLink="/index" />
    </div>

    <ion-list class="form-list">
      <ion-item>
        <ion-label position="stacked" >Nombre</ion-label>
        <ion-input class="campo" type="text" [(ngModel)]="formData.firstname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input class="campo" type="text" [(ngModel)]="formData.lastname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-input class="campo" type="date" [(ngModel)]="formData.birthday"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input class="campo" type="email"  [(ngModel)]="formData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input class="campo" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="formData.password"></ion-input>
      </ion-item>

      <ion-item>
      <ion-label position="stacked">Confirmar Contraseña</ion-label>
      <ion-input class="campo" type="password" [(ngModel)]="formData.password_confirmation"></ion-input>
      </ion-item>
    </ion-list>


    <div class="buttons-container">
      <ion-button expand="block" color="warning" (click)="onRegister()">
        Registrarme
      </ion-button>
    </div>

  </div>
</ion-content>