.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding:0.5rem;
}

.image-container {
  margin-bottom: 1rem;
  img {
    width: 20%;
    height: auto;
    display: flex;
    margin: 0 auto;
  }
}


ion-list {
  margin: 1rem auto;
  width: 75%;
  background-color: transparent;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  background: transparent;

  ion-label {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem !important;

  }

  ion-input {
    background-color: #FFFFFF;
    border-radius: 1rem;
    border: none;
    padding:0.5rem !important;
  }
}

.buttons-container {
  width: 90%;

  ion-button {
    margin-top: 10px;
  }
}

ion-button {
  --color: #ffffff;
  --font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

ion-item {
  --border-width: 0 !important;
  --border-style: none !important;
  --box-shadow: none !important;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 0.8em;
  padding-left: 1rem;
  padding-bottom: 1rem;
}