.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height: 100%;
  padding-top: 50px; 
}

.image-container {
  margin-bottom: 5px; 
  img {
    max-width: 40%; 
    height: auto;
    display: block;
    margin: 0 auto;
  }
}


.form-list {
  margin: 10px auto;
  width: 100%; 
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 10px;
    font-size: 15px;
    ion-label {
      margin-top: 15px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.buttons-container {
  width: 90%; 
  
  ion-button {
    margin-top: 10px;
  }
}

ion-button {
  --color: #ffffff; 
  --font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px; 
}

.campo{
  background-color: #eaeaea8a;
  font-size: 1.3rem;
  padding: 0.5rem !important;
}

ion-item{
  --border-width: 0 !important;
  --border-style: none !important;
  --box-shadow: none !important;
}
